body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// customize bootstrap...

.btn-primary {
  color: #fff;
  background-color: #43ba80;
  border-color: #43ba80;
}
.btn-primary:hover {
  background-color: #43ba80;
  border-color: #43ba80;
  opacity: 0.9;
}
