body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// customize bootstrap...

.btn-primary {
  color: #fff;
  background-color: #43ba80;
  border-color: #43ba80;
}
.btn-primary:hover {
  background-color: #43ba80;
  border-color: #43ba80;
  opacity: 0.9;
}

@media (max-width: 34em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
